@media screen and (min-width: 1501px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 6.25rem 0;
            width: 87.5rem;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #140104;
                    line-height: 3.6rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #140104;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .card {
                margin-top: 2.5rem;
                display: flex;
                .first {
                    min-width: 36.13rem;
                    max-width: 36.13rem;
                    display: flex;
                    flex-direction: column;
                    .imgBox {
                        position: relative;
                        padding: 0;
                        img {
                            display: block;
                            width: 100%;
                            height: 24.13rem;
                        }
                        .time {
                            position: absolute;
                            right: 0.1rem;
                            bottom: 0.1rem;
                            width: 10.36rem;
                            height: 2.91rem;
                            background: #59141d;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: Arial, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #ffffff;
                            line-height: 1.46rem;
                            letter-spacing: 1px;
                            text-align: left;
                        }
                    }
                    .card_content {
                        flex: 1;
                        border-left: solid 3px #f9f9f9;
                        border-bottom: solid 3px #f9f9f9;
                        border-right: solid 3px #f9f9f9;
                        padding: 1.06rem 1.31rem 1.2rem 1.94rem;
                        h3 {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #140104;
                            line-height: 2rem;
                            letter-spacing: 1px;
                            text-align: justified;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p {
                            margin-top: 1.2rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #311116;
                            line-height: 1.6rem;
                            text-align: justified;
                        }
                    }
                }
                .list {
                    margin-left: 1.25rem;
                    ul {
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1.25rem;
                        li {
                            width: 24.25rem;
                            .imgBox {
                                position: relative;
                                padding: 0;
                                img {
                                    width: 100%;
                                    height: 13.38rem;
                                    display: block;
                                }
                                .time {
                                    position: absolute;
                                    right: 0.1rem;
                                    bottom: 0.1rem;
                                    width: 6.94rem;
                                    height: 1.61rem;
                                    background: #59141d;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: Arial, sans-serif;
                                    font-weight: bold;
                                    font-size: 0.88rem;
                                    color: #ffffff;
                                    line-height: 1.03rem;
                                    letter-spacing: 1px;
                                    text-align: left;
                                }
                            }
                            .li_title {
                                border-left: solid 3px #f9f9f9;
                                border-bottom: solid 3px #f9f9f9;
                                border-right: solid 3px #f9f9f9;
                                height: 6.5rem;
                                padding-top: 1.06rem;
                                padding-left: 1.25rem;
                                padding-right: 0.75rem;
                                h3 {
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: bold;
                                    font-size: 1rem;
                                    color: #140104;
                                    line-height: 1.6rem;
                                    letter-spacing: 1px;
                                    text-align: justified;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 6rem 0;
            width: 90%;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #140104;
                    line-height: 3.6rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #140104;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .card {
                width: 100%;
                margin-top: 2.5rem;
                display: flex;
                .first {
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    .imgBox {
                        position: relative;
                        padding: 0;
                        img {
                            display: block;
                            width: 100%;
                            height: 24.13rem;
                        }
                        .time {
                            position: absolute;
                            right: 0.1rem;
                            bottom: 0.1rem;
                            width: 10.36rem;
                            height: 2.91rem;
                            background: #59141d;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: Arial, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #ffffff;
                            line-height: 1.46rem;
                            letter-spacing: 1px;
                            text-align: left;
                        }
                    }
                    .card_content {
                        flex: 1;
                        border-left: solid 3px #f9f9f9;
                        border-bottom: solid 3px #f9f9f9;
                        border-right: solid 3px #f9f9f9;
                        padding: 1.06rem 1.31rem 1.2rem 1.94rem;
                        h3 {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #140104;
                            line-height: 2rem;
                            letter-spacing: 1px;
                            text-align: justified;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p {
                            margin-top: 1.2rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #311116;
                            line-height: 1.6rem;
                            text-align: justified;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 7;
                        }
                    }
                }
                .list {
                    width: 58%;
                    margin-left: 1.25rem;
                    ul {
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1.25rem;
                        li {
                            width: 48%;
                            .imgBox {
                                position: relative;
                                padding: 0;
                                img {
                                    width: 100%;
                                    height: 13.38rem;
                                    display: block;
                                }
                                .time {
                                    position: absolute;
                                    right: 0.1rem;
                                    bottom: 0.1rem;
                                    width: 6.94rem;
                                    height: 1.61rem;
                                    background: #59141d;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: Arial, sans-serif;
                                    font-weight: bold;
                                    font-size: 0.88rem;
                                    color: #ffffff;
                                    line-height: 1.03rem;
                                    letter-spacing: 1px;
                                    text-align: left;
                                }
                            }
                            .li_title {
                                border-left: solid 3px #f9f9f9;
                                border-bottom: solid 3px #f9f9f9;
                                border-right: solid 3px #f9f9f9;
                                height: 6.5rem;
                                padding-top: 1.06rem;
                                padding-left: 1.25rem;
                                padding-right: 0.75rem;
                                h3 {
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: bold;
                                    font-size: 1rem;
                                    color: #140104;
                                    line-height: 1.6rem;
                                    letter-spacing: 1px;
                                    text-align: justified;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                }
                                p {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 6rem 0;
            width: 90%;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #140104;
                    line-height: 3.6rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #140104;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .card {
                width: 100%;
                margin-top: 2.5rem;
                display: flex;
                .first {
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    .imgBox {
                        position: relative;
                        padding: 0;
                        img {
                            display: block;
                            width: 100%;
                            height: 20rem;
                        }
                        .time {
                            position: absolute;
                            right: 0.1rem;
                            bottom: 0.1rem;
                            width: 10.36rem;
                            height: 2.91rem;
                            background: #59141d;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: Arial, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #ffffff;
                            line-height: 1.46rem;
                            letter-spacing: 1px;
                            text-align: left;
                        }
                    }
                    .card_content {
                        flex: 1;
                        border-left: solid 3px #f9f9f9;
                        border-bottom: solid 3px #f9f9f9;
                        border-right: solid 3px #f9f9f9;
                        padding: 1.06rem 1.31rem 1.2rem 1.94rem;
                        h3 {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #140104;
                            line-height: 2rem;
                            letter-spacing: 1px;
                            text-align: justified;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p {
                            margin-top: 1.2rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #311116;
                            line-height: 1.6rem;
                            text-align: justified;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 7;
                        }
                    }
                }
                .list {
                    width: 58%;
                    margin-left: 1.25rem;
                    ul {
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1.25rem;
                        li {
                            width: 48%;
                            .imgBox {
                                position: relative;
                                padding: 0;
                                img {
                                    width: 100%;
                                    height: 12rem;
                                    display: block;
                                }
                                .time {
                                    position: absolute;
                                    right: 0.1rem;
                                    bottom: 0.1rem;
                                    width: 6.94rem;
                                    height: 1.61rem;
                                    background: #59141d;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: Arial, sans-serif;
                                    font-weight: bold;
                                    font-size: 0.88rem;
                                    color: #ffffff;
                                    line-height: 1.03rem;
                                    letter-spacing: 1px;
                                    text-align: left;
                                }
                            }
                            .li_title {
                                border-left: solid 3px #f9f9f9;
                                border-bottom: solid 3px #f9f9f9;
                                border-right: solid 3px #f9f9f9;
                                height: 5.75rem;
                                padding-top: 1.06rem;
                                padding-left: 1.25rem;
                                padding-right: 0.75rem;
                                h3 {
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: bold;
                                    font-size: 1rem;
                                    color: #140104;
                                    line-height: 1.6rem;
                                    letter-spacing: 1px;
                                    text-align: justified;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                }
                                p {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 5rem 0;
            width: 90%;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #140104;
                    line-height: 3.6rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #140104;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .card {
                width: 100%;
                margin-top: 2.5rem;
                display: flex;
                .first {
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    .imgBox {
                        position: relative;
                        padding: 0;
                        img {
                            display: block;
                            width: 100%;
                            height: 16rem;
                        }
                        .time {
                            position: absolute;
                            right: 0.1rem;
                            bottom: 0.1rem;
                            width: 8rem;
                            height: 2.5rem;
                            background: #59141d;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: Arial, sans-serif;
                            font-weight: bold;
                            font-size: 1.2rem;
                            color: #ffffff;
                            line-height: 1.46rem;
                            letter-spacing: 1px;
                            text-align: left;
                        }
                    }
                    .card_content {
                        flex: 1;
                        border-left: solid 3px #f9f9f9;
                        border-bottom: solid 3px #f9f9f9;
                        border-right: solid 3px #f9f9f9;
                        padding: 1rem;
                        h3 {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #140104;
                            line-height: 2rem;
                            letter-spacing: 1px;
                            text-align: justified;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p {
                            margin-top: 1.2rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #311116;
                            line-height: 1.6rem;
                            text-align: justified;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 7;
                        }
                    }
                }
                .list {
                    width: 58%;
                    margin-left: 1.25rem;
                    ul {
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1.25rem;
                        li {
                            width: 48%;
                            .imgBox {
                                position: relative;
                                padding: 0;
                                img {
                                    width: 100%;
                                    height: 10rem;
                                    display: block;
                                }
                                .time {
                                    position: absolute;
                                    right: 0.1rem;
                                    bottom: 0.1rem;
                                    width: 6.94rem;
                                    height: 1.61rem;
                                    background: #59141d;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: Arial, sans-serif;
                                    font-weight: bold;
                                    font-size: 0.88rem;
                                    color: #ffffff;
                                    line-height: 1.03rem;
                                    letter-spacing: 1px;
                                    text-align: left;
                                }
                            }
                            .li_title {
                                border-left: solid 3px #f9f9f9;
                                border-bottom: solid 3px #f9f9f9;
                                border-right: solid 3px #f9f9f9;
                                height: 5.7rem;
                                padding: 1rem;
                                h3 {
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: bold;
                                    font-size: 1rem;
                                    color: #140104;
                                    line-height: 1.6rem;
                                    letter-spacing: 1px;
                                    text-align: justified;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                }
                                p {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 5rem 0;
            width: 94%;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #140104;
                    line-height: 3.6rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #140104;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .card {
                width: 100%;
                margin-top: 2.5rem;
                display: flex;
                .first {
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    .imgBox {
                        position: relative;
                        padding: 0;
                        img {
                            display: block;
                            width: 100%;
                            height: 16rem;
                        }
                        .time {
                            position: absolute;
                            right: 0.1rem;
                            bottom: 0.1rem;
                            width: 8rem;
                            height: 2.1rem;
                            background: #59141d;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: Arial, sans-serif;
                            font-weight: bold;
                            font-size: 1rem;
                            color: #ffffff;
                            line-height: 1.46rem;
                            letter-spacing: 1px;
                            text-align: left;
                        }
                    }
                    .card_content {
                        flex: 1;
                        border-left: solid 3px #f9f9f9;
                        border-bottom: solid 3px #f9f9f9;
                        border-right: solid 3px #f9f9f9;
                        padding: 1rem;
                        h3 {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #140104;
                            line-height: 2rem;
                            letter-spacing: 1px;
                            text-align: justified;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p {
                            margin-top: 1.2rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #311116;
                            line-height: 1.6rem;
                            text-align: justified;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 7;
                        }
                    }
                }
                .list {
                    width: 58%;
                    margin-left: 1rem;
                    ul {
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1rem;
                        li {
                            width: 48%;
                            .imgBox {
                                position: relative;
                                padding: 0;
                                img {
                                    width: 100%;
                                    height: 10rem;
                                    display: block;
                                }
                                .time {
                                    position: absolute;
                                    right: 0.1rem;
                                    bottom: 0.1rem;
                                    width: 6.94rem;
                                    height: 1.61rem;
                                    background: #59141d;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: Arial, sans-serif;
                                    font-weight: bold;
                                    font-size: 0.88rem;
                                    color: #ffffff;
                                    line-height: 1.03rem;
                                    letter-spacing: 1px;
                                    text-align: left;
                                }
                            }
                            .li_title {
                                border-left: solid 3px #f9f9f9;
                                border-bottom: solid 3px #f9f9f9;
                                border-right: solid 3px #f9f9f9;
                                height: 5.7rem;
                                padding: 1rem;
                                h3 {
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: bold;
                                    font-size: 1rem;
                                    color: #140104;
                                    line-height: 1.6rem;
                                    letter-spacing: 1px;
                                    text-align: justified;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                }
                                p {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 5rem 0;
            width: 90%;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2rem;
                    color: #140104;
                    line-height: 3rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 1.5rem;
                    color: #140104;
                    line-height: 2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .card {
                width: 100%;
                margin-top: 2.5rem;
                .first {
                    width: 100%;
                    display: flex;
                    .imgBox {
                        min-width: 40%;
                        max-width: 40%;
                        position: relative;
                        padding: 0;
                        img {
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                        .time {
                            position: absolute;
                            right: 0.1rem;
                            bottom: 0.1rem;
                            width: 8rem;
                            height: 2.1rem;
                            background: #59141d;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: Arial, sans-serif;
                            font-weight: bold;
                            font-size: 1rem;
                            color: #ffffff;
                            line-height: 1.46rem;
                            letter-spacing: 1px;
                            text-align: left;
                        }
                    }
                    .card_content {
                        width: 60%;
                        overflow: hidden;
                        border-left: solid 3px #f9f9f9;
                        border-bottom: solid 3px #f9f9f9;
                        border-right: solid 3px #f9f9f9;
                        padding: 0.5rem;
                        h3 {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #140104;
                            line-height: 2rem;
                            letter-spacing: 1px;
                            text-align: justified;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p {
                            margin-top: 0.5rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #311116;
                            line-height: 1.6rem;
                            text-align: justified;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                        }
                    }
                }
                .list {
                    width: 100%;
                    ul {
                        list-style: none;
                        li {
                            margin-top: 2rem;
                            width: 100%;
                            display: flex;
                            .imgBox {
                                min-width: 40%;
                                max-width: 40%;
                                position: relative;
                                padding: 0;
                                img {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                                .time {
                                    position: absolute;
                                    right: 0.1rem;
                                    bottom: 0.1rem;
                                    width: 8rem;
                                    height: 2.1rem;
                                    background: #59141d;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: Arial, sans-serif;
                                    font-weight: bold;
                                    font-size: 1rem;
                                    color: #ffffff;
                                    line-height: 1.46rem;
                                    letter-spacing: 1px;
                                    text-align: left;
                                }
                            }
                            .li_title {
                                width: 60%;
                                overflow: hidden;
                                border-left: solid 3px #f9f9f9;
                                border-bottom: solid 3px #f9f9f9;
                                border-right: solid 3px #f9f9f9;
                                padding: 0.5rem;
                                h3 {
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: bold;
                                    font-size: 1.25rem;
                                    color: #140104;
                                    line-height: 2rem;
                                    letter-spacing: 1px;
                                    text-align: justified;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                p {
                                    margin-top: 0.5rem;
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: 400;
                                    font-size: 1rem;
                                    color: #311116;
                                    line-height: 1.6rem;
                                    text-align: justified;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
