.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 82rem;
        ul{
            list-style: none;
            li {
                margin-bottom: 6.25rem;
                .single{
                    display: flex;
                    align-items: center;
                    .picture{
                        position: relative;
                        z-index: 0;
                        min-width: 41.63rem;
                        max-width: 41.63rem;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .card{
                        margin-left: -4rem;
                        position: relative;
                        z-index: 2;
                        width: 45.06rem;
                        min-height: 26rem;
                        background: rgba(255,255,255,0.64);
                        box-shadow: 0rem 0.06rem 0.25rem 0rem rgba(30,4,7,0.24);
                        border-radius: 0rem 0rem 0rem 0rem;
                        padding: 4rem 4.25rem;
                        h3{
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.75rem;
                            color: #140104;
                            line-height: 3.15rem;
                            letter-spacing: 1px;
                        }
                        p{
                            margin-top: 1rem;
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 1.25rem;
                            color: #311116;
                            line-height: 2rem;
                            letter-spacing: 1px;
                            text-align: justify;
                        }
                    }
                }
                .double{
                    display: flex;
                    align-items: center;
                    .picture{
                        margin-left: -4rem;
                        position: relative;
                        z-index: 0;
                        min-width: 41.63rem;
                        max-width: 41.63rem;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .card{
                        position: relative;
                        z-index: 2;
                        width: 45.06rem;
                        min-height: 26rem;
                        background: rgba(255,255,255,0.64);
                        box-shadow: 0rem 0.06rem 0.25rem 0rem rgba(30,4,7,0.24);
                        border-radius: 0rem 0rem 0rem 0rem;
                        padding: 4rem 4.25rem;
                        h3{
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.75rem;
                            color: #140104;
                            line-height: 3.15rem;
                            letter-spacing: 1px;
                        }
                        p{
                            margin-top: 1rem;
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 1.25rem;
                            color: #311116;
                            line-height: 2rem;
                            letter-spacing: 1px;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}