@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-Bold-2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-Regular-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url('AbrilFatface-Regular-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Han Serif CN';
    src: url('SourceHanSerifCN-Bold-2.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Han Serif CN';
    src: url('SourceHanSerifCN-Regular-1.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
