.pages{
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        max-width: 120rem;
        .menu{
            margin-top: 5rem;
            margin-bottom: 6.25rem;
            width: 100%;
            display: flex;
            justify-content: center;
            list-style: none;
            li + li{
                margin-left: 1.87rem;
            }
            li{
                width: 12.69rem;
                height: 3.94rem;
                background: #F0F0F0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .activeMenu{
                background-color: #59141D;
                color: #ffffff;
            }
        }
    }
}