.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../../public/img/education/scheduleBack.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    .container {
        max-width: 120rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .table {
            margin: 6.25rem;
            width: 60rem;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
