.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 91.5rem;
        margin-top: 6.25rem;
        display: flex;
        justify-content: space-between;
        .left {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            .title {
                display: flex;
                align-items: center;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #140104;
                    line-height: 3.6rem;
                    letter-spacing: 2px;
                }
                p {
                    margin-left: 2.5rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #140104;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                }
            }
            .text {
                margin-top: 1.25rem;
                width: 41.19rem;
                p {
                    font-family: Microsoft YaHei UI, sans-serif;
                    font-weight: 400;
                    font-size: 1.5rem;
                    color: #311116;
                    line-height: 2.4rem;
                    letter-spacing: 1px;
                    text-align: justify;
                }
            }
        }
        .right {
            width: 46.5rem;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
