@media screen and (min-width: 1501px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            width: 87.5rem;
            margin: 6.25rem 0;
            .title {
                display: flex;
                align-items: center;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #140104;
                    line-height: 3.6rem;
                    letter-spacing: 2px;
                }
                p {
                    margin-left: 1.25rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #140104;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                }
            }
            .international {
                display: flex;
                justify-content: space-between;
                .left {
                    width: 41.25rem;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;

                    .desc {
                        margin-top: 1.25rem;
                        p {
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 1.25rem;
                            color: #311116;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                            text-align: justify;
                        }
                    }
                }
                .right {
                    img {
                        width: 41.25rem;
                        height: auto;
                    }
                }
            }
            .goal {
                margin-top: 6.25rem;
                display: flex;
                justify-content: space-between;
                .left {
                    img {
                        width: 41.25rem;
                        height: auto;
                    }
                }
                .right {
                    width: 41.25rem;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    .gold {
                        margin-top: 2.7rem;
                        display: flex;
                        img {
                            width: 2.48rem;
                            height: 2.72rem;
                        }
                        h3 {
                            margin-left: 1.38rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #311116;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                    }
                    .list {
                        margin-top: 1.5rem;
                        h4 {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #012247;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1.25rem;
                            color: #012247;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                    }
                }
                .leftMobile {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1500px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            width: 90%;
            margin: 6rem 0;
            .title {
                display: flex;
                align-items: center;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #140104;
                    line-height: 3.6rem;
                    letter-spacing: 2px;
                }
                p {
                    margin-left: 1.25rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #140104;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                }
            }
            .international {
                display: flex;
                justify-content: space-between;
                .left {
                    width: 48%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;

                    .desc {
                        margin-top: 1.25rem;
                        p {
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 1.25rem;
                            color: #311116;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                            text-align: justify;
                        }
                    }
                }
                .right {
                    width: 48%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .goal {
                margin-top: 6rem;
                display: flex;
                justify-content: space-between;
                .left {
                    width: 48%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .right {
                    width: 48%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    .gold {
                        margin-top: 2.7rem;
                        display: flex;
                        img {
                            width: 2.48rem;
                            height: 2.72rem;
                        }
                        h3 {
                            margin-left: 1.38rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #311116;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                    }
                    .list {
                        margin-top: 1.5rem;
                        h4 {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #012247;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1.25rem;
                            color: #012247;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                    }
                }
                .leftMobile {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            width: 90%;
            margin: 5rem 0;
            .title {
                display: flex;
                align-items: center;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2rem;
                    color: #140104;
                    line-height: 3.6rem;
                    letter-spacing: 2px;
                }
                p {
                    margin-left: 1.25rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 1.5rem;
                    color: #140104;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                }
            }
            .international {
                display: flex;
                justify-content: space-between;
                .left {
                    width: 48%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    .desc {
                        margin-top: 1rem;
                        p {
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 1.1rem;
                            color: #311116;
                            line-height: 1.8rem;
                            letter-spacing: 1px;
                            text-align: justify;
                        }
                    }
                }
                .right {
                    width: 48%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .goal {
                margin-top: 5rem;
                display: flex;
                justify-content: space-between;
                .left {
                    width: 48%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .right {
                    width: 48%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    .gold {
                        margin-top: 2rem;
                        display: flex;
                        img {
                            width: 2.48rem;
                            height: 2.72rem;
                        }
                        h3 {
                            margin-left: 1.38rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.2rem;
                            color: #311116;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                    }
                    .list {
                        margin-top: 1.2rem;
                        h4 {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.2rem;
                            color: #012247;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1.2rem;
                            color: #012247;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                    }
                }
                .leftMobile {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            width: 90%;
            margin: 4rem 0;
            .title {
                display: flex;
                align-items: center;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.8rem;
                    color: #140104;
                    line-height: 2.5rem;
                    letter-spacing: 2px;
                }
                p {
                    margin-left: 1.25rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 1.2rem;
                    color: #140104;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                }
            }
            .international {
                display: flex;
                justify-content: space-between;
                .left {
                    width: 48%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    .desc {
                        margin-top: 1rem;
                        p {
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #311116;
                            line-height: 1.5rem;
                            letter-spacing: 1px;
                            text-align: justify;
                        }
                    }
                }
                .right {
                    width: 48%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .goal {
                margin-top: 4rem;
                display: flex;
                justify-content: space-between;
                .left {
                    width: 48%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .right {
                    width: 48%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    .gold {
                        margin-top: 1rem;
                        display: flex;
                        img {
                            width: 2rem;
                            height: 2.2rem;
                        }
                        h3 {
                            margin-left: 1.38rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.1rem;
                            color: #311116;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                    }
                    .list {
                        margin-top: 1rem;
                        h4 {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.1rem;
                            color: #012247;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1.1rem;
                            color: #012247;
                            line-height: 2rem;
                            letter-spacing: 1px;
                        }
                    }
                }
                .leftMobile {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            width: 90%;
            margin: 4rem 0;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2rem;
                    color: #140104;
                    line-height: 2.5rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    margin-left: 1.25rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 1.5rem;
                    color: #140104;
                    line-height: 2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .international {
                .left {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    .desc {
                        margin-top: 1rem;
                        p {
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 1.1rem;
                            color: #311116;
                            line-height: 2rem;
                            letter-spacing: 1px;
                            text-align: justify;
                        }
                    }
                }
                .right {
                    margin-top: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 80%;
                        height: auto;
                    }
                }
            }
            .goal {
                margin-top: 4rem;
                .left {
                    display: none;
                }
                .right {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    .gold {
                        margin-top: 1rem;
                        display: flex;
                        justify-content: center;
                        img {
                            width: 2rem;
                            height: 2.2rem;
                        }
                        h3 {
                            margin-left: 1.38rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.1rem;
                            color: #311116;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                    }
                    .list {
                        margin-top: 1rem;
                        h4 {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.1rem;
                            color: #012247;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1.1rem;
                            color: #012247;
                            line-height: 2rem;
                            letter-spacing: 1px;
                        }
                    }
                }
                .leftMobile {
                    margin-top: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 80%;
                        height: auto;
                    }
                }
            }
        }
    }
}
